<!-- About -->
<section class="page-section bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext.about.title }}</h2>
      </div>
    </div>
    <hr class="light">
    <div class="row justify-content-center">
      <div clasS="col-auto">
        <table class="table-responsive about-table">
          <tbody>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Project title</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">Neardata: Extreme Near-Data Processing Platform</td>
            </tr>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Grant agreement ID</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">101092644</td>
            </tr>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Coordinator</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">
                Dr. Pedro García López

                <br>

                Dr. Marc Sánchez Artigas
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Partners</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">


                <a href="http://www.urv.cat/en/" target="_blank" style="color: black;">Universitat Rovira i Virgili</a>
                (Spain)

                <br>

                <a href="https://www.bsc.es/" target="_blank" style="color: black;">Barcelona Supercomputing Center</a>
                (Spain)

                <br>

                <a href="https://tu-dresden.de/" target="_blank" style="color: black;">Technische Universität
                  Dresden</a>
                (Germany)

                <br>

                <a href="https://www.dkfz.de/de/index.html" target="_blank" style="color: black;">Deutsches
                  Krebsforschungszentrum
                  Heidelberg</a>
                (Germany)

                <br>

                <a href="https://www.embl.org/" target="_blank" style="color: black;">European Molecular Biology
                  Laboratory</a>
                (Germany)

                <br>

                <a href="https://www.dell.com/en-us" target="_blank" style="color: black;">EMC Information Systems
                  International
                  Unlimited Company</a>
                (Ireland)

                <br>

                <a href="https://www.kionetworks.es/" target="_blank" style="color: black;">KIO Networks España SA</a>
                (Spain)

                <br>

                <a href="https://sano.science/" target="_blank" style="color: black;">Sano - Centrum Zindywidualizowanej
                  Medycyny Obliczeniowej</a>
                (Poland)

                <br>

                <a href="https://scontain.com/" target="_blank" style="color: black;">Scontain GMBH</a>
                (Germany)

                <br>

                <a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care"
                  target="_blank" style="color: black;">Department of Health - United Kingdom</a>
                (United Kingdom)

                <br>

              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Duration</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">01 Jan 2023 - 31 Dec 2025</td>
            </tr>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Overall budget</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">3,913,585.00€</td>
            </tr>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Programme</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">
                Horizon &gt;<br>
                &nbsp;&nbsp;&nbsp; WORLD LEADING DATA AND COMPUTING TECHNOLOGIES 2022 (HORIZON-CL4-2022-DATA-01)<br>
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 0,75em;"><strong>Topic</strong></td>
              <td style="padding: 0 15px; padding-bottom: 0,75em;">HORIZON-CL4-2022-DATA-01-05
              </td>
            </tr>
            <tr>
              <td><strong>Funding scheme</strong></td>
              <td style="padding: 0 15px;"> HORIZON-RIA HORIZON Research and Innovation Actions</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- End About -->