<!-- About -->
<section class="page-section bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext.about.title }}</h2>
      </div>
    </div>
    <hr class="light">
    <div class="row justify-content-center">
      <div clasS="col-auto">
        <table class="table-responsive about-table">
          <tbody>
            <tr>
              <td><strong>Project title</strong></td>
              <td>Neardata: Extreme Near-Data Processing Platform</td>
            </tr>
            <tr>
              <td><strong>Grant agreement ID</strong></td>
              <td><a href="https://doi.org/10.3030/101092644">101092644</a></td>
            </tr>
            <tr>
              <td><strong>Coordinator</strong></td>
              <td>Dr. Pedro García López</td>
            </tr>
            <tr>
              <td><strong>Partners</strong></td>
              <td>
                <a href="http://www.urv.cat/en/" target="_blank">Universitat Rovira i
                  Virgili</a> (Spain)
                <br>
                <a href="https://www.bsc.es/" target="_blank">Barcelona Supercomputing
                  Center</a> (Spain)
                <br>
                <a href="https://tu-dresden.de/" target="_blank">Technische Universität
                  Dresden</a> (Germany)
                <br>
                <a href="https://www.dkfz.de/de/index.html" target="_blank">Deutsches Krebsforschungszentrum Heidelberg</a> (Germany)
                <br>
                <a href="https://www.embl.de/" target="_blank">European Molecular Biology
                  Laboratory</a> (Germany)
                <br>
                <a href="https://www.dell.com/en-us" target="_blank">EMC Information Systems
                  International
                  Unlimited Company</a> (Ireland)
                <br>
                <a href="https://www.kionetworks.es/" target="_blank">KIO Networks España SA</a> (Spain)
                <br>
                <a href="https://sano.science/" target="_blank">Sano - Centrum Zindywidualizowanej
                  Medycyny Obliczeniowej</a>
                (Poland)
                <br>
                <a href="https://scontain.com/" target="_blank">Scontain GMBH</a> (Germany)
                <br>
                <a href="https://www.gov.uk/government/organisations/uk-health-security-agency" target="_blank">UK Health Security Agency</a> (United Kingdom)
                <br>
              </td>
            </tr>
            <tr>
              <td><strong>Duration</strong></td>
              <td>01 Jan 2023 - 31 Dec 2025</td>
            </tr>
            <tr>
              <td><strong>Overall budget</strong></td>
              <td>3,913,585.00€</td>
            </tr>
            <tr>
              <td><strong>Programme</strong></td>
              <td>
                Horizon &gt;<br>
                &nbsp;&nbsp;&nbsp; WORLD LEADING DATA AND COMPUTING TECHNOLOGIES 2022 (HORIZON-CL4-2022-DATA-01)<br>
              </td>
            </tr>
            <tr>
              <td><strong>Topic</strong></td>
              <td>HORIZON-CL4-2022-DATA-01-05</td>
            </tr>
            <tr>
              <td><strong>Funding scheme</strong></td>
              <td>HORIZON-RIA HORIZON Research and Innovation Actions</td>
            </tr>
            <tr>
              <td><strong>Dissemination materials</strong></td>
              <td><a href="assets\dissemination\NEARDATA_Brochure_DEF.pdf" target="_blank">Brochure</a> - <a href="https://youtu.be/GmQetMrwCQw" target="_blank">Video</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
      <br/>
      <h3 class="section-subheading text-center mt-5"><b>NEARDATA project is part of:</b> <br/>        
          <a href="/datanexus" target="_blank"><img src="assets/img/DataNexus_Logo.png" alt="DataNexus Cluster" width="35%"></a>
      </h3>
  </div>
</section>
<!-- End About -->