<section class="page-section" id="calltoaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Objectives</h2>
                <hr class="light">
                <p class="lead">{{ site.data.sitetext.objectives.text1 | markdownify }}</p>
                <div class="col-lg-12 text-center">
                    <div class="pt-5"></div>
                    <img src="assets/img/{{ site.data.sitetext.objectives.image }}" alt="Neardata architecture" width="60%">
                    <!-- <figcaption class="text-faded">CLOUDSKIN architecture overview</figcaption> -->
                    <div class="pt-5"></div>
                    <div style="text-align: justify;"><p>{{ site.data.sitetext.objectives.text2 | markdownify }}</p></div>
                    <br/>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GmQetMrwCQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>