<section class="page-section" id="contact">
  <div class="container">
    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext.footer.title }}</h2>
      </div>
    </div>
    <hr class="light">
    <h3 class="section-subheading text-center mt-5">{{ site.data.sitetext.footer.text }}</h3> -->
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <h3>{{ site.data.sitetext.footer.contact.title }}</h3>
        <p class="pt-1">{{ site.data.sitetext.footer.contact.text | markdownify }}</p>
      </div>
      <div class="col-md-4 text-center social-buttons">
        <h3>{{ site.data.sitetext.footer.social.title }}</h3>
        <ul class="list-inline">
          <li class="pt-5">
              <a href="http://twitter.com/Neardata2023" class="btn-social btn-outline"><i class="fab fa-fw fa-twitter fa-2x"></i></a>
              <a href="https://www.linkedin.com/company/neardata-eu/" class="btn-social btn-outline"><i class="fab fa-fw fa-linkedin-in fa-2x"></i></a>
              <a href="http://github.com/neardata-eu" class="btn-social btn-outline"><i class="fab fa-fw fa-github fa-2x"></i></a>         
          </li>
          <!--
          <li clasS="pt-5">
              <a href="https://www.youtube.com/channel/UCJTICoSQJXlfgkoYP3-ltUA" class="btn-social btn-outline"><i class="fab fa-fw fa-youtube"></i></a>
          </li> -->
          <li class="pt-5">
              <a href="http://github.com/neardata-eu" class="btn-social btn-outline"><img src="assets\img\zenodo-gradient-200.png"><a>
          </li> 
      </ul>
      </div>
      <div class="col-md-4 text-center">
        <img class="img-fluid d-block mx-auto flag" src="assets/img/europe.jpg" alt="EU Flag">
        <p class="pt-1">{{ site.data.sitetext.footer.flag.text | markdownify }}</p>
      </div>
    </div>
  </div>
</section>