{% for news in site.news %}
<div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- news Details Go Here -->
              <h2 class="text-uppercase">{{ news.title }}</h2>
              <p class="item-intro text-muted">{{ news.subtitle }}</p>
              <img class="img-fluid d-block mx-auto" src="{{ news.image | relative_url }}" alt="{{ news.alt }}" />
              <p>{{ news.content }}</p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton | default: "Close news" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}