<!-- Portfolio Grid -->
<section class="page-section" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.data.sitetext.publications.title | markdownify }}</h2>
            </div>
        </div>
        <hr class="light pb-5">
        <div class="d-flex align-content-around flex-wrap justify-content-center">
            {% for publication in site.data.sitetext.publications.publications %}
            <div class="m-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ publication.title }}</h5>
                      <a href="{{ publication.url }}" class="card-link"><i class="fa fa-external-link-alt"></i> Link</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>