// Styling for the about section
section#about {
    table {
        tr {
            padding-top: 1rem;
            padding-left: 1rem;
        }
        td {
            padding-top: 1rem;
            padding-left: 1rem;
        }
    }
    a {
        color: $secondary;
    }
  }
  